.about {
  margin-bottom: 30px;
}

.about__header {
  background-image: url("../img/about.jpg");
}

.about__centering {
  padding: 0 15px;
  margin-bottom: 20px;
}

.about__table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 30px;

  td {
    padding: 10px;
    border: 1px solid #eeeeee;
    vertical-align: top;
  }
}

.about__link {
  color: $primary-font-color;
}

.about__text {
  margin-bottom: 30px;

  br {
    display: none;
  }
}

.about__download {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 30px;
  text-align: center;
  margin-left: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .about__download {
    margin-top: 10px;
    margin-left: 0;
  }

  .about__text {
    br {
      display: block;
    }
  }
}

@media (max-width: 550px) {
  .about__wrapper {
    width: 100%;
    max-width: 920px;
  }

  .about__table {
    display: block;
    width: 100%;
    max-width: 920px;

    td,
    tr {
      display: block;
    }

    td {
      padding: 10px 0;
      border: none;

      &:first-child {
        font-weight: 600;
      }
    }

    tr {
      border-bottom: 1px solid #eeeeee;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .about__centering {
    @include desktop-centering;
  }

  .about__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 985px;
    margin: 0 auto;
  }

  .about__text {
    &:first-child {
      margin-right: 20px;
    }
  }

  .about__table {
    width: 100%;
    max-width: 985px;
  }
}
