.about__header {
  background-image: url("../img/about.jpg");
}

.about__wrapper {
  padding: 15px;
  margin-bottom: 20px;
}

@media (min-width: $desktop-min-width) {
  .about__wrapper {
    @include desktop-centering;
  }
}
