.contacts {
  background-color: #101010;
  color: #ffffff;
}

.contacts__centering {
  padding: 30px 15px;
}

.contacts__wrapper {
  margin-bottom: 30px;
}

.contacts__header {
  background-image: url("../img/contacts.jpg");
}

.contacts__title {
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 34px;
  font-weight: 200;
  text-align: center;
  position: relative;
}

.contacts__item-title {
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 35px;

  &::after {
    height: 1px;
    width: 160px;
    left: calc(50% - 80px);
  }
}

.contacts__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 55px;
  }
}

.contacts__text,
.contacts__link {
  color: #807a7a;
  text-decoration: none;
}

.contacts__form {
  position: relative;

  &--success,
  &--error {
    &::after {
      content: "Отправлено!";
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      background-color: #101010;
      color: #ffffff;
      font-size: 32px;
      line-height: 48px;
      font-weight: 300;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: fade-in 0.5s ease, fade-out 0.5s ease 2.5s;
    }
  }

  &--error {
    &::after {
      content: "Произошла ошибка!\aПопробуйте ещё раз.";
      white-space: pre;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (min-width: $tablet-min-width + 100px) {
  .contacts__centering {
    padding: 50px 15px;
    display: flex;
  }

  .contacts__wrapper {
    width: 50%;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .contacts__item {
    min-width: auto;
    margin-bottom: 0;
  }

  .contacts__form {
    width: 50%;
  }
}

@media (min-width: $desktop-min-width) {
  .contacts__centering {
    @include desktop-centering;
    padding: 50px 15px;
  }

  .contacts__wrapper {
    margin-bottom: 0;
  }

  .contacts__link {
    &:hover {
      color: #e1e1e1;
    }
  }
}
