.header__centering {
  padding: 0 15px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  width: 80px;
  height: 36px;
  border-radius: 30px 0 30px 30px;
  // background-color: #8cbbc4;
  // background: linear-gradient(to right, #8cbbc4 0%,#dd7368 100%);
  background: linear-gradient(45deg, #78b8c4 0%,#dd7368 100%);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 34px;
  // color: #111111;
  color: #ffffff;
}

@media (min-width: $desktop-min-width) {
  .header {
    position: relative;
  }

  .header__centering {
    @include desktop-centering;
    min-height: 80px;
  }

  .header__logo {
    width: 100px;
    height: 45px;
    line-height: 42px;
    font-size: 22px;
  }
}
