.header__centering {
  padding: 0 15px;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.header__button {
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
