.hero {
  min-height: 400px;
  background-image: url("../img/hero_mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero_mobile@2x.jpg");
  }
}

.hero__centering {
  padding: 0 15px;
  padding-top: 115px;
}

.hero__label {
  font-size: 24px;
  display: block;
}

.hero__title {
  font-size: 36px;
}

@media (min-width: $tablet-min-width) {
  .hero {
    background-image: url("../img/hero_tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero_tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-min-width) {
  .hero {
    background-image: url("../img/hero_desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero_desktop@2x.jpg");
    }
  }
}
