.item {
  max-width: 480px;
  margin: 0 auto;
}

.item__wrapper {
  text-align: center;

  &--info {
    padding: 15px 15px 0 15px;
  }

  &--image {
    min-height: 0;
    position: relative;
  }

  /* рамки */
  &--image::before {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 0;
    border: 2px solid #ffffff;
    border-top: none;
  }

  /* треугольник */
  &--image::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
  }
}

.item__text-wrapper {
  border: 2px solid $primary-color;
  border-bottom: 0;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item__text {
  margin-bottom: 15px;
}

.item__note {
  color: #797575;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  // opacity: 0.5;
}

.item__title {
  position: relative;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    font-size: 35px;
    line-height: 24px;
    font-family: $secondary-font;
    font-weight: 300;
    color: #191919;
  }

  /* подчеркивание */
  &::after {
    width: 180px;
    height: 3px;
    left: calc(50% - 90px);
  }
}

.item__image-wrapper {
  border-top: 0;
}

.item__link {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: transparent;
  transition: all 0.3s ease;

  svg {
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    fill: #4a4a4a;
    left: calc(50% - 60px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.65);

    svg {
      opacity: 0.65;
    }
  }
}

.item__image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  vertical-align: top;
}

@media (min-width: $desktop-min-width) {
  .item {
    display: flex;
    flex-direction: row;
    max-width: 100%;

    &:nth-child(odd) {
      .item__wrapper--info {
        order: 2;
        padding: 20px 20px 20px 0;
      }

      .item__wrapper--image {
        order: 1;

        &::before {
          right: 0;
          left: 20px;
          border-left: 3px solid #ffffff;
          border-right: none;
        }

        &::after {
          right: -15px;
          left: auto;
          transform: rotate(90deg);
        }
      }

      .item__text-wrapper {
        border: 3px solid $primary-color;
        border-left: 0;
      }
    }
  }

  .item__wrapper {
    flex-basis: 50%;

    &--info {
      padding: 20px 0 20px 20px;
    }

    &--image::before {
      left: 0;
      top: 20px;
      right: 20px;
      bottom: 20px;
      border: 3px solid #ffffff;
      border-left: none;
    }

    &--image::after {
      top: calc(50% - 20px);
      left: -15px;
      border-width: 30px 30px 0 30px;
      transform: rotate(-90deg);
    }
  }

  .item__text-wrapper {
    border: 3px solid $primary-color;
    border-right: 0;
    min-height: 260px;
  }

  .item__image {
    height: 300px;
  }
}
