.reviews {
  text-align: center;
  padding: 15px;
  padding-bottom: 200px;
  background-color: pink;
}

.reviews__title {
  margin-bottom: 80px;
}

.reviews__list {
  list-style-type: none;
  margin-bottom: 50px;
}

.reviews__button {
  height: 3px;
  width: 26px;
  background-color: #cdd3cf;
  border: 0;
  cursor: pointer;
  margin-right: 12px;
  margin-top: auto;

  &--active {
    background-color: #1a444a;
  }
}

@media (min-width: $tablet-min-width) {
  .reviews {
    padding: 35px;
    padding-bottom: 150px;
  }

  .reviews__title {
    text-align: left;
  }
}

@media (min-width: $desktop-min-width) {
  .reviews {
    padding-left: 0;
    padding-right: 0;
  }

  .reviews__title {
    @include desktop-centering;
    margin-bottom: 80px;
  }

  .reviews__slider {
    position: relative;
  }

  .reviews__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .reviews__client-button {
    width: 214px;
    height: 214px;
    background-color: $secondary-background-color;
    opacity: 0.5;
    position: absolute;
    border: none;
    z-index: 10;
    top: calc(50% - 107px);

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
