.section-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.section-header__centering {
  padding: 20px 15px;
}

.section-header__wrapper {
  border: 2px solid #ffffff;
  padding: 25px;
}

.section-header__title {
  font-size: 36px;
  line-height: 66px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $desktop-min-width) {
  .section-header__centering {
    @include desktop-centering;
    padding: 50px 20px;
  }
}
