.social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.social__item {
  margin-right: 25px;
}

.social__link {
  display: inline-block;

  svg {
    vertical-align: top;
  }
}
