.social {
  display: flex;
  flex-direction: row;

  &--header {
    display: none;
  }

  &--contacts {
    justify-content: center;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.social__link {
  display: inline-block;

  svg {
    vertical-align: top;
  }
}

@media (min-width: $desktop-min-width) {
  .social {
    &--header {
      display: flex;
      margin-right: calc(25% + 20px);
    }
  }

  .social__link {
    &:hover {
      transform: scale(1.1);
    }
  }
}
