.social {
  display: flex;
  flex-direction: row;

  &--navigation {
    position: absolute;
    bottom: 30px;
    left: 15px;
  }

  &--contacts {
    justify-content: center;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.social__link {
  display: inline-block;

  svg {
    vertical-align: top;
  }
}

@media (min-width: $desktop-min-width) {
  .social__link {
    &:hover {
      transform: scale(1.1);
    }
  }
}
