$primary-font: "Open Sans", "Arial", sans-serif;
$secondary-font: "Montserrat", "Arial", sans-serif;
$primary-color: #0e0e0d; //в меру черный
$primary-font-color: #444641; //серо-зеленый
$secondary-font-color: #858585; //светло-серый
$tablet-min-width: 768px;
$desktop-min-width: 1025px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
