@import "variables";
@import "mixins";
@import "centering";
@import "visually-hidden";
@import "header";
@import "navigation";
@import "social";
@import "overlay";
@import "hero";
@import "section-header";
@import "about";
@import "portfolio";
@import "item";
@import "contacts";
@import "footer";

body {
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  color: $primary-font-color;
  overflow-x: hidden;
  overflow-y: auto;

  &.body--nav-opened {
    overflow: hidden;

    &::after {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 100;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
